:root {
  --white: rgb(225, 225, 225);
  --light-blue: rgb(0, 210, 214);
  --black: rgb(0, 0, 0);
  --blue: rgb(10, 65, 216);
}

html {
}

body {
}

.navbar {
  height: 20px;
  display: flex;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  height: 60px;
  display: flex;
}
.navbar-list li {
  margin: 1.5em;
}
.navbar-item {
  text-decoration: none;
  width: 250px;
  padding: 10px;
  color: black;
  font-family: "Karla", sans-serif;
  font-size: large;
}

.navbar-item:hover {
  color: var(--blue);
}

#about {
  margin-top: 2em;
}
.introduction-header {
}
.cib {
  max-width: 150px;
  margin-top: 1rem;
}
